<?xml version='1.0' encoding='utf-8'?>

<tomcat-users>
      <role username="admin-gui" />
    {% for role in tomcat_roles %}
      <role rolename="{{role.name}}"/>
    {% endfor %}
    {% for user in tomcat_users %}
      <user username="{{user.name}}" password="{{user.password}}" roles="{{user.roles}}"/>
    {% endfor %}
</tomcat-users>
